<head>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
</head>

<div style="
    margin-left: -1px;
    margin-right: -1px;
    left: 0;
    right: 2px;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: 0;
  ">
  <div class="titlebar">
    <a href="#">
      <h2 style="
          font-size: 3em !important;
          display: flex !important;
          color: #8ed4e3;
          font-weight: 800 !important;
          margin-left: 0.5em;
          margin-top: 0.2em;
          margin-bottom: 0;
        ">
        krizzl
      </h2>
    </a>
    <div class="blau">
      <a href="#">
        <div class="home"></div>
      </a>
    </div>
  </div>

  <div>
    <div class="hintergrundBild">
      <div class="bluebox">
        <table>
          <td class="punkte">
            <div class="ueberschrift">
              <h1 style="font-size: 6vh !important;">Score</h1>
            </div>
            <div class="scoreAnzeige" style="
                height: 81.5%;
                overflow: auto;
                padding-left: 3vw;
                padding-right: 3vw;
              ">
              <ul style="list-style-type: none; font-size: 2.5vh;">
                <li *ngFor="let player of players">
                  <div *ngIf="player.canDraw" style="
                      color: black;
                      display: flex;
                      flex-direction: row;
                      place-content: space-between;
                      align-items: center;
                    ">
                    <p style="color: #8ed4e3; font-weight: 700;">
                      {{ player.name }}
                    </p>
                    <img src="../../assets/pencil.png" alt="Bild" style="height: 2.5vh; width: 2.5vh;" />

                    <p style="color: #8ed4e3; font-weight: 700;">
                      {{ player.points }}
                    </p>
                  </div>
                  <span *ngIf="!player.canDraw" style="
                      color: black;
                      display: flex;
                      flex-direction: row;
                      place-content: space-between;
                    ">
                    <p>{{ player.name }}</p>
                    <p>{{ player.points }}</p>
                  </span>
                </li>
              </ul>
            </div>
            <div *ngIf="myPlayer">
              <button *ngIf="myPlayer.isHost" (click)="finishGame()" style="
                  font-size: 1.5vw;
                  font-weight: 700;
                  width: 70% !important;
                  height: 6vh !important;
                  margin-left: 0vw !important;
                  margin-top: 4vh !important;
                  background-color: #c6eaf5 !important;
                  margin-bottom: 1vw !important;
                " class="startButton btn btn-primary btn-lg">
                Finish the Game!
              </button>
            </div>
          </td>

          <td class="zeichnenBox">
            <h1 *ngIf="round" style="color: #4c4c4c !important; font-size: 6vh !important;">
              Round {{ round.round }}
            </h1>

            <div class="datenAnzeige" style="display: flex; justify-content: space-between;">
              <div *ngIf="this.time" style="flex-grow: 1;">
                <p style="font-size: 2vw;">{{ this.time.time }}</p>
              </div>

              <div *ngIf="myPlayer" style="flex-grow: 2;">
                <div *ngIf="myPlayer.canDraw" style="
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                  ">
                  <div style="
                      flex-grow: 1;
                      text-align: center;
                      justify-content: center;
                    ">
                    <p *ngIf="randomWord" style="font-size: 2vw; text-align: center;">
                      Your word is: {{ randomWord }}
                    </p>
                  </div>
                  <div style="align-self: center;">
                    <button class="startButton btn btn-primary btn-lg" (click)="startDrawing()" style="
                        font-size: 1.5vw;
                        font-weight: 700;
                        width: 11vw !important;
                        height: 4vw !important;
                        margin-left: 0.5vw !important;
                        background-color: #c6eaf5 !important;
                        flex-grow: 1 !important;
                      ">
                      Start drawing!
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="kunstwerk" style="
                height: 80%;
                background-color: white;
                margin-top: 0.5vw;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
              ">
              <img style="
                  width: 80%;
                  height: 80%;
                  border: 4px solid white;
                  object-fit: contain;
                  margin: 6.5%;
                " [src]="image" />
            </div>
          </td>

          <td class="chat">
            <div class="ueberschrift">
              <h1 style="font-size: 6vh !important;">Chat</h1>
            </div>
            <div id="ChatDiv" class="chatAnzeige" style="
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 2vw;
              ">
              <ul style="list-style-type: none; width: 100%;">
                <li *ngFor="let message of messages" style="
                    background-color: #8ed4e3;
                    border-radius: 44px;
                    margin-bottom: 1vh;
                    width: 80%;
                    font-size: 2.5vh;
                    text-align: left;
                    padding-left: 1vw;
                    min-height: 4vh;
                    padding-top: 0.5vh;
                  ">
                  {{ message.name }}:
                  {{ message.value }}
                </li>
              </ul>
            </div>
            <div class="chatEingabe">
              <input #message id="chatEingabeID" type="text" class="textfeldInput" data-required_mark="required"
                placeholder="Your guess..." style="width: 15vw !important; font-size: 2vw !important;" />
              <button (click)="chatAndGuess(message.value); testScrollDown()" style="
                  font-size: 1.5vw;
                  font-weight: 700;
                  width: 13vw !important;
                  height: 3vw !important;
                  margin-left: 0.5vw !important;
                  background-color: #c6eaf5 !important;
                " class="startButton btn btn-primary btn-lg">
                Send!
              </button>
            </div>
          </td>
        </table>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>