<head>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
</head>

<div (window:resize)="onResize($event)" *ngIf="mobile" style="
                    margin-left: -1px;
                    margin-right: -1px;
                    left: 0;
                    right: 2px;
                    top: 0;
                    bottom: 0;
                    position: absolute;
                    margin: 0;
                    ">
  <div class="titlebar" style="position: relative;">
    <a href="#">
      <h2 style="
          font-size: 3em !important;
          display: flex !important;
          color: #8ed4e3;
          font-weight: 800 !important;
          margin-left: 0.5em;
          margin-top: 0.2em;
          margin-bottom: 0;
          ">
        krizzl
      </h2>
    </a>
    <div class="blau">
      <a href="#">
        <div class="home"></div>
      </a>
    </div>
  </div>

  <div class="hintergrundBild">
    <div class="bluebox" style="align-items: baseline; margin-top: 0">
      <p style="text-align: center; padding: 2vh; font-size: 2vh ">
        Here is a link to the GitHub-Repository to download the Krizzl Android-App!
        <br>
        <br>
        <a style="margin-top: 2vh" href="https://github.com/Titan008/Krizzl/releases">Click here!</a>
      </p>
    </div>
  </div>
</div>

<div (window:resize)="onResize($event)" *ngIf="!mobile" style="
    margin-left: -1px;
    margin-right: -1px;
    left: 0;
    right: 2px;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: 0;
  ">
  <div class="titlebar">
    <a href="#">
      <h2 style="
          font-size: 3em !important;
          display: flex !important;
          color: #8ed4e3;
          font-weight: 800 !important;
          margin-left: 0.5em;
          margin-top: 0.2em;
          margin-bottom: 0;
        ">
        krizzl
      </h2>
    </a>
    <div class="blau">
      <a href="#">
        <div class="home"></div>
      </a>
    </div>
  </div>
  <div>
    <div class="hintergrundBild">
      <div class="bluebox">
        <div class="liste">
          <ul>
            <div class="aufzählung">
              <h1>1.</h1>
              <input #newPlayer class="textfeldInput" data-required_mark="required" placeholder="Type in nickname..."
                type="text" value="" />
              <button (click)="login(newPlayer.value)" class="startButton btn btn-primary btn-lg" style="
                  font-size: 1.5vw;
                  font-weight: 700;
                  width: 11vw !important;
                  height: 5vw !important;
                  margin-left: 0.5vw !important;
                  background-color: #c6eaf5 !important;
                ">
                Play with this Name!
              </button>
            </div>
          </ul>
          <ul>
            <div class="aufzählung" style="margin-bottom: -3vw;">
              <h1>2.</h1>
              <p class="textAufzählung" style="margin-top: 7vh; margin-bottom: 6vh;">
                Enter Code in App
              </p>
            </div>
          </ul>
          <ul>
            <h2 *ngIf="myPlayer" class="aufzählung" style="margin-top: 0px; margin-bottom: 0px;">
              CODE: {{ myPlayer.id }}
            </h2>
            <br />
            <div class="aufzählung">
              <h1>3.</h1>
              <button *ngIf="!myPlayer" [routerLink]="['/ingame']" class="startButton btn btn-primary btn-lg"
                type="button" disabled>
                START
              </button>
              <button *ngIf="myPlayer" [routerLink]="['/ingame']" class="startButton btn btn-primary btn-lg"
                type="button">
                START
              </button>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="second">
      <br />
      <h1>
        What is <font color="#8ED4E3">krizzl</font>? <br />
        <br />
      </h1>
      <table class="spalten">
        <tr>
          <td>
            <div class="karte">
              <div class="friends"></div>
              <h3 style="margin-bottom: 0px;">Play with friends</h3>
              <div class="kartentextbox">
                <p>
                  You can play with all <br />
                  your friends at the <br />
                  same time <br />
                  <br />
                  <br />
                  <br />
                </p>
              </div>
            </div>
          </td>

          <td>
            <div class="karte">
              <div class="controller"></div>
              <h3 style="margin-bottom: 0px;">
                FUN
              </h3>
              <div class="kartentextbox">
                <p>
                  <font color="#8ED4E3">krizzl!</font> That means <br />
                  you get a random <br />
                  word and have to <br />
                  draw it while your <br />
                  friends try to guess <br />
                  it
                </p>
              </div>
            </div>
          </td>

          <td>
            <div class="karte">
              <div class="magic"></div>
              <h3 style="margin-bottom: 0;">Magic</h3>
              <div class="kartentextbox">
                <p style="font-family: 'Dosis', sans-serif;">
                  You draw on your phone <br />
                  while your friends <br />
                  see your artwork <br />
                  in the browser. <br />
                  Awesome right? <br />
                  <br />
                </p>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <br />
      <br />
      <ul>
        <button class="btn btn-primary btn-lg" style="margin: 0;" type="button">
          Play now!
        </button>
      </ul>
    </div>
  </div>
  <div class="footer"></div>
</div>

<router-outlet></router-outlet>