@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

.hintergrundBild {
  background: url(../../assets/wallpaper.png) no-repeat center center !important;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  height: 100vh !important;
  width: 100% !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.titlebar {
  background: #4d4d4d;
  width: 100%;
  height: 5em;
  position: fixed;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home {
  width: 3em;
  height: auto;
}

.blau {
  flex-direction: row;
  display: flex;
}

.blaudreieck {
  width: 0;
  height: 0;
  border-left: 2.5em solid transparent;
  border-right: 2.5em solid transparent;
  border-top: 5em solid #8ed4e3;
  margin-right: -2.5em;
}
.blauviereck {
  width: 20em;
  height: 5em;
  background: #8ed4e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Dosis", sans-serif;
}

ul {
  text-align: center !important;
}

h2 {
  font-size: 4vw !important;
  font-style: bold !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

h3 {
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 3vw !important;
  line-height: 61px !important;
  text-align: center !important;
}

h1 {
  font-style: normal !important;
  font-weight: bolder !important;
  font-size: 5vw !important;
  text-align: center !important;
  margin: 0;
}

p {
  font-weight: 500;
  font-size: 2.5vw;
  text-align: justify;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.magic {
  background-image: url(../../assets/magic.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 13vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
}
.controller {
  background-image: url(../../assets/controller.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 13vh;
  justify-content: center;
  align-items: center;
  background-size: contain;

  align-content: center;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}
.friends {
  background-image: url(../../assets/friends.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 13vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-size: contain;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.second {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  padding-bottom: 2vh;
}

.kartentextbox {
  display: flex;
  justify-content: center;
}

.spalten {
  display: table;
  table-layout: fixed;
  width: 100%;
  cellspacing: 20%;
  cellpadding: 50%;
  border: 0;
  vertical-align: top;
}

.textAufzählung {
  vertical-align: bottom;
  margin-left: 2vw;
  font-size: 3.2vw;
  font-weight: bolder;
}

.textfeldInput {
  width: 444px;
  height: 78px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 55px;
}

.bluebox {
  margin-top: 5em;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8ed4e3;
  height: 80%;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.liste {
  margin: 0;
  flex-direction: column;
}

.aufzählung {
  display: flex;
  vertical-align: top;
  padding: 2vh;
  flex-direction: row;
  align-items: center;
}

.footer {
  background: #4d4d4d;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5em;
}

.startButton {
  width: 358px !important;
  height: 104px !important;
  margin-left: 1em !important;
  background: #57d864 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 44px !important;
}

.btn.btn-primary.btn-lg {
  width: 23vw !important;
  height: 6vw !important;
  margin-left: 2vw !important;
  background: #57d864 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 44px !important;
  font-size: 3vw;
  font-weight: 800;
  color: black;
  border: 0;
}

table {
  text-align: center !important;
}

td {
  table-layout: fixed;
}

.textfeldInput {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 18vw !important;
  height: 6vw !important;
  margin-left: 2vw !important;
  margin-right: 1vw !important;
  background-color: #ffffff !important;
  border-radius: 55px !important;
  text-align: center !important;
  color: black !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 2vw !important;
  border: 0;
}

.home {
  background-image: url(../../assets/home.png);
  background-repeat: no-repeat;
  height: 80%;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
  margin-top: 1em;
  margin-right: 3em;
}

.karte {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
